[submodule "externals/SrvCommon"]
	path = externals/SrvCommon
	url = https://dal.semplex.ru:4322/git/SrvCommon.git
[submodule "externals/OntoORM"]
	path = externals/OntoORM
	url = https://dal.semplex.ru:4322/git/OntoORM.git
